/** Features **/

.features {
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 8rem 0;
  &__heading {
    font-size: 2.8rem;
    margin-top: 2.5rem;
  }
  &__heading::before {
    content: "";
    display: block;
    position: absolute;
    top: 8.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 50%;
    background-color: var(--grayish-blue);
    margin-left: auto;
    margin-right: auto;
  }
}

.features__card:not(:last-child) {
  margin-bottom: 5rem;
}

.features__card h4 {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 0px;
}
